@model CategoriaViewModel

@{ViewBag.Title = "Crear Categoría";}

@await Html.PartialAsync("_NavbarAdministracion")

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Crear Categoria</h1>
                    <form asp-action="CrearCategoria">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label class="form-label" for="txtCategoria" asp-for="Nombre"></label>
                            <input class="form-control" type="text" id="txtCategoria" asp-for="Nombre" />
                            <span class="text-danger" asp-validation-for="Nombre"></span>
                        </div>
                        <button class="btn btn-primary btn-lg" type="submit">Crear Categoría</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}