@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-12 col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title mb-3">Ingreso</h2>
                    <form>
                        <div class="mb-3">
                            <label for="txtRut" class="form-label">RUT</label>
                            <input type="text" class="form-control mb-3 shadow-sm" id="txtRut" aria-describedby="emailHelp">
                            <label for="txtContrasena" class="form-label">Contraseña</label>
                            <input type="password" class="form-control mb-3 shadow-sm" id="txtContrasena" />
                            <button type="submit" class="btn btn-primary shadow-sm">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>