@*Navbar de Administración*@
<nav class="navbar navbar-expand-lg bg-white navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Administración</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Empleado" asp-action="IndexEmpleado">Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cargo" asp-action="IndexCargo">Cargos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Estado" asp-action="IndexEstado">Estados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Base" asp-action="IndexBase">Elementos Base</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Elemento" asp-action="IndexElemento">Elementos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Sucursal" asp-action="IndexSucursal">Sucursales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Sector" asp-action="IndexSector">Sectores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="SubSector" asp-action="IndexSubSector">Subsectores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Lector" asp-action="IndexLector">Lectores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Antena" asp-action="IndexAntena">Antenas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>