@using WebAppCoreControlInterno.Models.ViewModels
@model AntenaViewModel

@{ViewBag.Title = "Crear Antena";}

@await Html.PartialAsync("_NavbarAdministracion")

@{/*Vista para crear Antena*/}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">Crear Antena</h1>

                    <form asp-action="CrearAntena">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Antena1" class="form-label"></label>
                                    <input asp-for="Antena1" class="form-control shadow-sm" />
                                    <span asp-validation-for="Antena1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="FkIdSector" class="form-label"></label>
                                    <input asp-for="FkIdSector" class="form-control shadow-sm" />
                                    <span asp-validation-for="FkIdSector" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="FkIdSubSector" class="form-label"></label>
                                    <input asp-for="FkIdSubSector" class="form-control shadow-sm" />
                                    <span asp-validation-for="FkIdSubSector" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="FkIdLector" class="form-label"></label>
                                    <input asp-for="FkIdLector" class="form-control shadow-sm" />
                                    <span asp-validation-for="FkIdLector" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row text-end">
                            <div class="col">
                                <button type="submit" value="Crear" class="btn btn-primary btn-lg shadow-sm">Crear</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}