@using WebAppCoreControlInterno.Models.ViewModels
@model CargoViewModel

@{ViewBag.Title = "Editar Cargo";}

@await Html.PartialAsync("_NavbarAdministracion")

<div class="container mt-5 mb-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">Editar Cargo</h1>
                    <div class="card-subtitle text-muted mb-3">ID: @Html.DisplayFor(m => m.IdCargo)</div>
                    <form asp-action="Editar">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(c => c.IdCargo)
                        <div>
                            <label asp-for="Cargo1" class="form-label"></label>
                            <input asp-for="Cargo1" class="form-control shadow-sm mb-3" />
                            <div class="row text-end">
                                <div class="col">
                                    <button type="submit" value="Editar" class="btn btn-primary shadow-sm">Editar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>