@using WebAppCoreControlInterno.Models.ViewModels
@model BaseViewModel

@{ViewBag.Title = "Crear Elemento Base";}

@await Html.PartialAsync("_NavbarAdministracion")

@{/*Vista de empleados*/}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">Crear Elemento Base</h1>

                    <form asp-action="CrearBase">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Nombre" class="form-label"></label>
                                    <input asp-for="Nombre" class="form-control shadow-sm" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Sku" class="form-label"></label>
                                    <input asp-for="Sku" class="form-control shadow-sm" />
                                    <span asp-validation-for="Sku" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="FkIdCategoria" class="form-label"></label>
                                    <select asp-for="FkIdCategoria" asp-items="ViewBag.Categorias" class="form-control shadow-sm">
                                        <option>Categoría</option>
                                    </select>
                                    <span asp-validation-for="FkIdCategoria" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Descripcion" class="form-label"></label>
                                    <input asp-for="Descripcion" class="form-control shadow-sm" />
                                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row text-end">
                            <div class="col">
                                <button type="submit" value="Crear" class="btn btn-primary btn-lg">Crear</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}