@model List<Base>

@{ViewBag.Title = "Lista Elementos Base";}

@await Html.PartialAsync("_NavbarAdministracion")

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Elementos Base</h1>
        </div>
        <div class="col text-end">
            <a asp-action="CrearBase" class="btn btn-primary">Crear</a>
        </div>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <form action="IndexBase" method="get">
                    <th><input type="text" class="form-control shadow-sm w-auto" autocomplete="off" placeholder="Sku" name="sku" value=@ViewBag.Sku /></th>
                    <th><input type="text" class="form-control shadow-sm w-auto" autocomplete="off" placeholder="Nombre" name="nombre" value=@ViewBag.Nombre /></th>
                    <th></th>
                    <th></th>
                    <th class="text-end">
                        <input type="submit" value="Filtrar" class="btn btn-success text-end" />
                        <a type="button" class="btn btn-danger" asp-action="IndexBase">X</a>
                    </th>
                </form>
            </tr>
            <tr>
                <th>Sku</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bases in Model)
            {
                <tr>
                    <td class="align-middle">@Html.DisplayFor(m => bases.Sku)</td>
                    <td class="align-middle">@Html.DisplayFor(m => bases.Nombre)</td>
                    <td class="align-middle">@Html.DisplayFor(m => bases.Descripcion)</td>
                    <td class="align-middle">@Html.DisplayFor(m => bases.FkIdCategoriaNavigation.Nombre)</td>
                    <td class="align-middle text-end">
                        <a class="btn btn-primary btn-sm" href="EditarBase/@bases.IdBase">Editar</a>
                        <a class="btn btn-danger btn-sm" href="EliminarBase/@bases.IdBase">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>