@using WebAppCoreControlInterno.Models.ViewModels
@model EstadoViewModel

@{ViewBag.Title = "Crear Estado";}

@await Html.PartialAsync("_NavbarAdministracion")

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Crear Estado</h1>
                    <form asp-action="CrearEstado">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label class="form-label" for="txtCargo" asp-for="Estado1">Estado</label>
                            <input class="form-control" type="text" id="txtCargo" asp-for="Estado1" />
                            <span class="text-danger" asp-validation-for="Estado1"></span>
                        </div>
                        <button class="btn btn-primary btn-lg" type="submit">Crear Estado</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
