@model List<Estado>;

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Estados</h1>
        </div>

        <div class="col text-end">
            <a asp-action="CrearEstado" class="btn btn-primary">
                Crear
            </a>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var estado in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => estado.Estado1)</td>
                    <td>
                        <a class="btn btn-primary" href="EditarEstado/@estado.IdEstado">Editar</a>
                        <a class="btn btn-danger" href="EliminarEstado/@estado.IdEstado">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>