@model EmpleadoViewModel

@{ViewBag.Title = "Crear Empleado";}

@await Html.PartialAsync("_NavbarAdministracion")

@{/*Vista de empleados*/}
<div class="container mt-5 mb-3">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">Crear Empleado</h1>
                    <form asp-action="CrearEmpleadoConEpc">
                        <button class="btn btn-primary">Leer EPC</button>
                    </form>

                    <form asp-action="CrearEmpleado">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <p class="text-danger text-center h6">@ViewBag?.ErrorMessage</p>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Rut" class="form-label"></label>
                                    <input asp-for="Rut" class="form-control shadow-sm" />
                                    <span asp-validation-for="Rut" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Epc" class="form-label"></label>
                                    <select asp-for="Epc" asp-items="ViewBag.Epcs" class="form-control shadow-sm">
                                        <option>
                                            EPC
                                        </option>
                                    </select>
                                    <span asp-validation-for="Epc" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Nombre1" class="form-label"></label>
                                    <input asp-for="Nombre1" class="form-control shadow-sm" />
                                    <span asp-validation-for="Nombre1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Nombre2" class="form-label"></label>
                                    <input asp-for="Nombre2" class="form-control shadow-sm" />
                                    <span asp-validation-for="Nombre2" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Apellido1" class="form-label"></label>
                                    <input asp-for="Apellido1" class="form-control shadow-sm" />
                                    <span asp-validation-for="Apellido1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Apellido2" class="form-label"></label>
                                    <input asp-for="Apellido2" class="form-control shadow-sm" />
                                    <span asp-validation-for="Apellido2" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="FkIdCargo" class="form-label"></label>
                                    <select asp-for="FkIdCargo" asp-items="ViewBag.Cargos" class="form-control shadow-sm">
                                        <option value=null>Cargo</option>
                                    </select>
                                    <span asp-validation-for="FkIdCargo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Fotografia" class="form-label"></label>
                                    <input asp-for="Fotografia" class="form-control shadow-sm" />
                                    <span asp-validation-for="Fotografia" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-info" asp-action="IndexEmpleado">Volver</a>
                            </div>
                            <div class="col text-end">
                                <button class="btn btn-primary" type="submit" value="Create">Crear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}