@model List<Sector>

@{ViewBag.Title = "Lista Sectores";}

@await Html.PartialAsync("_NavbarAdministracion")

@{
    Func<dynamic, object> sectorTemplate =
    @<tr>
        <td class="align-middle">@item.Nombre</td>
        <td class="align-middle">@item.Descripcion</td>
        <td class="align-middle">@item.FkIdSucursalNavigation.Nombre</td>
        <td class="align-middle text-end">
            <a class="btn btn-primary btn-sm" href="EditarSector/@item.IdSector">Editar</a>
            <a class="btn btn-danger btn-sm" href="EliminarSector/@item.IdSector">Eliminar</a>
        </td>
    </tr>;
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Sectores</h1>
        </div>
        <div class="col text-end">
            <a asp-action="CrearSector" class="btn btn-primary">Crear</a>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Sucursal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sector in Model)
            {
                @sectorTemplate(sector)
            }
        </tbody>
    </table>
</div>